<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="header-wrap">
                <div class="top-left">
                    <div class="main-logo">
                        <a href="#">
                            <img src="" alt="logo">
                        </a>
                    </div><!--main-logo-->
                </div><!--top-left-->
                <nav id="navbar" class="header-nav">
                    <div class="header-menu">
                        <ul class="nav-menu nav-hvr-effect">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link" data-hover="Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#about-page" class="nav-link" data-hover="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#popular-stories" class="nav-link" data-hover="Stories">Stories</a>
                            </li>
                            <li class="nav-item">
                                <a href="#feat-post" class="nav-link" data-hover="Post">Post</a>
                            </li>
                            <li class="nav-item">
                                <a href="#health-tips" data-hover="Health" class="nav-link">Health</a>
                            </li>
                            <li class="nav-item">
                                <a href="#love-tips" data-hover="Love" class="nav-link">Love</a>
                            </li>
                            <li class="nav-item">
                                <a href="#featured-post" data-hover="Feat. Post" class="nav-link">feat. Post</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://templatesjungle.gumroad.com/l/lifestyle-magazine-html-template" data-hover="GET PRO" class="nav-link"> GET PRO </a>
                            </li>
                        </ul>

                        <!--<div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>-->

                    </div><!--header-menu-->
                </nav>
            </div><!--header-wrap-->
        </div>
    </div><!--container-->
</header>
</body>
</html>