<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <title>Proyecto grupal</title>
    <link href="htt://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link ref="stylesheet" href="/css/app.css">

</head>

<body>

    <header>
        <div>
            <h1>XCasts</h1>

            <a href="#">Sign In</a>
        </div>

        <nav>
            <a href="#">Catalog</a>
            <a href="#">Series</a>
            <a href="#">Podcast</a>
            <a href="#">Discussions</a>
        </nav>
    </header>


</body>

</html>